[Unit]
Description=Enable all IR protocols
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/enable_ir.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
